label.col-sm-1{
	padding-left: 0;
	padding-right: 0;
}
p.col-sm-1{
	padding-top: 8px;
}
.main-form{
	margin-top: 80px;
	margin-bottom: 90px;
}
.btn{
	margin-top: 3px;
	margin-bottom: 3px;
}
.choosePDO .btn{
	margin: 0;
}
.notes{
	margin: 50px 80px;
}
.center-hr{
	margin: 45px;
}
.PDOform{
	margin-top: 50px;
}
.success-mes{
	width: 650px;
	margin: 102px auto;
}
.mes{
	margin-left: 90px;
}
.icon-ok{
	color: #3ece3e;
	font-size: 80px;
}
.icon-error{
	color: #fd5656;
	font-size: 80px;
}
.link-box{
	margin-top: 50px;
	margin-left: 90px;
}
.morelink{
	margin-right: 20px;
}
a.morelink:hover, a.morelink:active{
	color: #1299c1;
}